<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="form-alumnos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `form-alumnos`
     * alumnos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FormAlumnos extends Polymer.Element {
      static get is() { return 'form-alumnos'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'form-alumnos'
          }
        };
      }
    }

    window.customElements.define(FormAlumnos.is, FormAlumnos);
  </script>
</dom-module>
