<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<dom-module id="form-alumnos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[configData.title]]!</h2>

 
    <paper-input label="[[configData.label1]]" no-label-float value="{{inputValue1}}"></paper-input>
    <paper-input label="[[configData.label2]]" no-label-float value="{{inputValue2}}"></paper-input>
    <paper-input label="[[configData.label3]]" no-label-float value="{{inputValue3}}"></paper-input>
 
    <paper-button on-click="formevent">Agregar</paper-button>

  </template>
  <script>
    class FormAlumnos extends Polymer.Element {
      static get is() { return 'form-alumnos'; }
      static get properties() {
        return {
          
          configData:{
            type:  Object,
            value: () =>{
              return {
                title: 'Agregar Alumnos',
                buttonName:'Agregar',
                label1:'Nombre',
                label2:'Email',
                label3:'Teléfono'
              }
            } 
          },
          inputValue1:{
            type: String, 
          },
          inputValue2:{
            type: String,
          },
           inputValue2:{
            type: String,
          },
          objeto:{
            type: Object,
            value:()=>{
              return{
                nombre: '',
                email: '',
                telefono: ''
              }
            }
          }
          
        };
      }
      formevent(){
        console.log(this.inputValue2);
        console.log(this.inputValue1) 
        this.dispatchEvent( new CustomEvent ('nombre',{
          detail:{ 
          nombre: this.inputValue1,
          email: this.inputValue2,
          telefono: this.inputValue3
        }
        
        }))
      
      
      
      }
      // metodo3(){
      //   console.log(this.inputValue3)
      //   this.objeto.telefono = this.inputValue3 
      // }
      
    }

    window.customElements.define(FormAlumnos.is, FormAlumnos);
  </script>
</dom-module>
